@model IEnumerable<PhoneCoseApp.Models.Phone>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Here will be homepage</h1>
    <div>
        @foreach (var phone in Model)
        {
            <div>
                Phones Id: @phone.Id
                Phones name: @phone.Name
            </div>

        }
        
    </div>
</body>
</html>
