@using PhoneCoseApp.Controllers
@model PhoneCoseApp.ViewModels.Home.IndexViewModel

@{ 
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Here will be homepage</h1>
    
    <div>
        @foreach (var phone in Model.Phones)
        {
            <div>
                <p>
                    Phones Id: @phone.Id @Html.ActionLink("View",
                                    nameof(HomeController.Details),
                                    new { Id = phone.Id });
                </p>

                <p>Phones name: @phone.Name</p>
            </div>

        }

    </div>
</div>

@section footer{
    <h3>Todays discount on: @Model.Discount</h3>
}