
@model PhoneCoseApp.ViewModels.Home.IndexViewModel

@{ 
    ViewBag.Title = "Home";
}

<div>
    <h1>Here will be homepage</h1>
    
    <div>
        @foreach (var phone in Model.Phones)
        {
            <div>
                <p>
                    <a asp-controller="Home" asp-action="Details" asp-route-Id="@phone.Id">Details</a>

                    Phones name: @phone.Name

                    <a asp-controller="Home" asp-action="Edit" asp-route-Id="@phone.Id">Edit</a>
                </p>
            </div>
        }
    </div>
    <a asp-controller="Home" asp-action="Create">Create</a>
</div>

@section footer{
    <h3>Todays discount on: @Model.Discount</h3>
}